extends layout 

block content 
    h1 #{category.name} Rentals

    div
        if category_items.length 
          dl
            each item in category_items 
              dt 
                a(href=item.url) #{item.name}
        else 
          p This category has no rentals.

    div 
      p 
        a(href=category.url+'/delete') Delete Category
      p 
        a(href=category.url+'/update') Update Category